.richMessages {
	color: black;
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.header {
	background-image: url(/gsmyadmin/resources/images/panorama.jpg);
	height: 126px;
	width: 100%;
}

.headerToolbar {
	border: none !important;
	height: 30px;
	margin: 0 0 0 0;
}

.headerTitle {
	font-size: 25px;
}

.body {
	width: 100%;
}

.leftColumn {
	vertical-align: top;
	width: 20%;
}

.rightColumn {
	vertical-align: top;
	width: 80%;
}

.instancesPanel {
	margin-top: 10px;
}

.createInstancePanel {
	padding-top: 10px;
}