body {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	float: none;
}

.inplaceInput {
	min-width: 50px;
}

.inplaceInput>span {
	color: black;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.topAlign {
	vertical-align: top;
}

.middleAlign {
	vertical-align: middle;
}

.scroll {
	overflow: auto;
}

.bigScroll {
	max-width: 800px;
	max-height: 800px;
	overflow: scroll;
}

.widthScroll280 {
	overflow-x: auto;
	width: 280px;
}

td {
	vertical-align: middle;
}

li.info {
	padding-left: 20px;
	padding-right: 20px;
	background-repeat: no-repeat;
	list-style-type: none;
	padding-top: 1px;
	background-image:
		url(http://www.genericsystem.com/genericsystem.com/seam/resource/img/16x16/plain/trafficlight_green.png);
	background-position: top left;
	font-size: 14px;
}

li.warn {
	padding-left: 20px;
	padding-right: 20px;
	background-repeat: no-repeat;
	list-style-type: none;
	padding-top: 1px;
	background-image:
		url(http://www.genericsystem.com/genericsystem.com/seam/resource/img/16x16/plain/trafficlight_yellow.png);
	background-position: top left;
	font-size: 14px;
}

li.error {
	padding-left: 20px;
	padding-right: 20px;
	background-repeat: no-repeat;
	list-style-type: none;
	padding-top: 1px;
	background-image:
		url(http://www.genericsystem.com/genericsystem.com/seam/resource/img/16x16/plain/trafficlight_red_yellow.png);
	background-position: top left;
	font-size: 14px;
}

li.fatal {
	padding-left: 20px;
	padding-right: 20px;
	background-repeat: no-repeat;
	list-style-type: none;
	padding-top: 1px;
	background-image:
		url(http://www.genericsystem.com/genericsystem.com/seam/resource/img/16x16/plain/trafficlight_red.png);
	background-position: top left;
	font-size: 14px;
}

.messagesBlock {
	margin-left: 6px;
	margin-right: 10px;
	margin-top: 0px;
	background-color: white;
	min-width: 300px;
	min-height: 51px;
	max-height: 79px;
	max-width: 747px;
	overflow: auto;
	opacity: 0.75;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	/* For IE 8  Don't miss the added quotes */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.slightlyTransparent {
	opacity: 0.75;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	/* For IE 8  Don't miss the added quotes */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
