<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" id="richfaces-showcase">

	<display-name>Example JSF Generic System</display-name>

	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>ruby</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.enableControlSkinningClasses</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
		<param-value>org.genericsystem.resolver.GsResolver</param-value>
	</context-param>


	<!-- <context-param> -->
	<!-- <param-name>javax.faces.STATE_SAVING_METHOD</param-name> -->
	<!-- <param-value>client</param-value> why? -->
	<!-- </context-param> -->

	<!-- context-param> <param-name>com.sun.faces.expressionFactory</param-name> 
		<param-value>de.odysseus.el.ExpressionFactoryImpl</param-value> <param-value>com.sun.el.ExpressionFactoryImpl</param-value> 
		</context-param -->


	<!-- listener> <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class> 
		</listener> <listener> <listener-class>org.jboss.solder.resourceLoader.servlet.ResourceListener</listener-class> 
		</listener -->

	<!-- <listener> -->
	<!-- <listener-class>org.jboss.seam.faces.beanManager.BeanManagerServletContextListener</listener-class> -->
	<!-- </listener> -->

	<!-- resource-env-ref> <description>Object factory for the CDI Bean Manager</description> 
		<resource-env-ref-name>BeanManager</resource-env-ref-name> <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type> 
		</resource-env-ref -->

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/index.xhtml</location>
	</error-page>

	<!-- <error-page> -->
	<!-- <error-code>500</error-code> -->
	<!-- <location>/pages/error.xhtml</location> -->
	<!-- </error-page> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Faces Servlet</servlet-name> -->
	<!-- <url-pattern>/faces/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <mime-mapping> -->
	<!-- <extension>ecss</extension> -->
	<!-- <mime-type>text/css</mime-type> -->
	<!-- </mime-mapping> -->

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>pages/index.xhtml</welcome-file>
	</welcome-file-list>

</web-app>